# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ELONCOIN Core
Comment=ELONCOIN Core QT main network
GenericName=ELONCOIN Digital Currency QT client main network
Exec=eloncoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/eloncoin.png
MimeType=x-scheme-handler/eloncoin;
Categories=X-Office;X-Finance;
Keywords=internet;eloncoin;zemc;emc;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
